{% extends 'GsmLotIndexBundle:Index:base.html.twig' %}
{% block contenu %}

     <div class="container" style="min-height: 500px;line-height: 40px">
         <div class="row">
            <div class="col-md-8" style="text-align: justify">
                <h2>A propos de nous </h2>
Quelques mots sur nous

Gsmlot est une plate-forme de négoce professionnel pour les téléphones mobiles, d'accessoires et de l'électronique de consommation grossistes , distributeurs et détaillants . Nous visons à fournir un service fiable dans le temps sur le marché de la téléphonie mobile internationale Il existe plusieurs possibilités pour les membres à améliorer leur entreprise .

Notre connaissance de l'industrie du commerce de gros depuis 2005 nous a donné une forte crédibilité dans l'industrie de change . Augmenté nos ventes et le nombre de partenaires enregistrés est un signal fort pour trouver ou vendre votre produit avec GSMLOT.COM

La structure basée sur :
<ul>
   <li> Département de vente en ligne</li>
   <li> Département des produits informatique/élétroniques</li>
   <li>Département de vérification</li>   
</ul>
            </div>

             <div class="col-md-4">
                 <blockquote>
                     {% image '@GsmLotIndexBundle/Resources/public/images/about.jpg' %}
                     <img src="{{ asset_url }}" alt="gsmlot phones exchange" class="img-responsive" />
                     {% endimage %}
                 </blockquote>
             </div>
     
     </div>
     
     </div>
     
{% endblock %}

