{% extends 'GsmLotIndexBundle:Index:base.html.twig' %}
{% block contenu %}

     <div class="container" style="">
         <div class="row">
            <div class="col-lg-6">
 {% image '@GsmLotIndexBundle/Resources/public/images/about.jpg' %}
    <img src="{{ asset_url }}" alt="gsmlot phones exchange" style="width:500px;" />
{% endimage %} 
            </div>
            
            <div class="col-lg-6" style="text-align: justify">
    <blockquote>
Algunas palabras sobre nosotros


Gsmlot es una plataforma de comercio profesional para teléfonos móviles , accesorios y electrónica de consumo mayoristas , distribuidores y minoristas . Nuestro objetivo es proporcionar un servicio fiable en el tiempo al mercado de la telefonía móvil internacional Hay varias posibilidades para los miembros para mejorar sus negocios.

El conocimiento que tenemos en la industria de venta al por mayor desde 2005 nos ha dado una fuerte credibilidad en la industria de cambio. Nuestros crecientes ventas y el número de socios inscritos es una señal fuerte para encontrar o vender su producto con GSMLOT.COM

La estructura basada en :
<ul>
   <li> Departamento de Ventas de guardia y en línea</li>
   <li> Departamento de Servicio al Consumidor</li>
   <li>departamento de Verificación</li>   
</ul>
	</blockquote>
        
            </div>
     
     </div>
     
     </div>
     
{% endblock %}

