<footer style="width:100%;float:left;background:linear-gradient(#04519b, #033c73 60%, #02325f);color:white;"  id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    &copy; 2015 <a title="GsmLot Trading Platform" href="{{ path ("index_index") }}" 
                    target="_blank">GsmLot</a>. All Rights Reserved.
                </div>
                <div class="col-lg-6">
                    <ul class="pull-right">
					   <li> <a  href="{{ path ("index_index") }}" style="color:white"> Homepage</a></li>
             		   <li> <a href="{{ path ("index_about") }}"  style="color:white">Abouts us</a></li>
           			   <li> <a href="{{ path ("index_contact") }}"  style="color:white">Contact us</a> </li>
            		  <li> <a href=""  style="color:white">Our conditions</a> </li>    
                    </ul>
                </div>
            </div>
        </div>
</footer>