{% extends 'GsmLotIndexBundle:Index:base.html.twig' %}
{% block contenu %}
    <div class="row">
        <div class="col-lg-12">
            {% image '@GsmLotIndexBundle/Resources/public/images/homeheader.jpg' %}
            <img src="{{ asset_url }}" alt="gsmlot phones exchange" class="img-responsive"/>
            {% endimage %}
        </div>
    </div>
    {% include '@GsmLotIndex/Index/offer_report.html.twig' %}
  {% endblock %}
