{% extends 'GsmLotIndexBundle:Index:base.html.twig' %}
{% block contenu %}
    <div class="row">
        <div class="col-lg-12">
          {% include 'GsmLotIndexBundle:Index:carousel.html.twig' %}
        </div>
    </div>
    {% include '@GsmLotIndex/Index/offer_report.html.twig' %}
  {% endblock %}
