{% set nombre = 0 %}
{% for object in list %}
	{% set nombre = nombre + object.number %}
{% endfor %}
<div class="row">
	<h4>{{ (titre_1)|trans }}
		<small>
			<a href="#">{{ (titre_2)|trans }} ({{ nombre }})</a>
		</small>
	</h4>
</div>
