{% extends 'GsmLotIndexBundle:Index:base.html.twig' %}
{% block contenu %}
<div class="row">
	<h2>{{ 'index.titre.bourse'|trans }}</h2><br/>
</div>
{% set vars = {'list' : list_buy_brand,
				'titre_1':'index.titre.buyphones',
				'titre_2':'index.titre.total_offer_buy'} %}
{% include 'GsmLotIndexBundle:Offer:offer_title.html.twig' with vars %}

{% set vars = {'list' : list_buy_brand,'param':'brand_id',
				'route' : 'offer_mobile_brand',
				'type'	: 'buy',
				'titre':'index.titre.searchoffer'} %}
{% include 'GsmLotIndexBundle:Offer:grouped_offer.html.twig' with vars %}

{% set vars = {'list' : list_buy_country,'param':'country_id',
				'route' : 'offer_mobile_country',
				'type'	: 'buy',
				'titre':'index.titre.country'} %}
{% include 'GsmLotIndexBundle:Offer:grouped_offer.html.twig' with vars %}

{% set vars = {'list' : list_buy_norm,'param':'norm_id',
				'route' : 'offer_mobile_norm',
				'type'	: 'buy',
				'titre':'index.titre.specification'} %}
{% include 'GsmLotIndexBundle:Offer:grouped_offer.html.twig' with vars %}
<br/>
{% set vars = {'list' : list_sell_brand,
				'titre_1':'index.titre.sellphones',
				'titre_2':'index.titre.searchoffer'} %}
{% include 'GsmLotIndexBundle:Offer:offer_title.html.twig' with vars %}

{% set vars = {'list' : list_sell_brand,'param':'brand_id',
				'route' : 'offer_mobile_brand',
				'type'	: 'sell',
				'titre':'index.titre.searchoffer'} %}
{% include 'GsmLotIndexBundle:Offer:grouped_offer.html.twig' with vars %}

{% set vars = {'list' : list_sell_country,'param':'country_id',
				'route' : 'offer_mobile_country',
				'type'	: 'sell',
				'titre':'index.titre.country'} %}
{% include 'GsmLotIndexBundle:Offer:grouped_offer.html.twig' with vars %}

{% set vars = {'list' : list_sell_norm,'param':'norm_id',
				'route' : 'offer_mobile_norm',
				'type'	: 'sell',
				'titre':'index.titre.specification'} %}
{% include 'GsmLotIndexBundle:Offer:grouped_offer.html.twig' with vars %}
<br/><br/>
{% endblock %}